@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap')

* {
    color: #000;
    box-sizing: border-box;
    outline: none;
    font-family: 'Noto Sans KR', sans-serif;
    box-sizing: border-box !important;


}


html {
    font-size: 13px;
    background: #f8f8f8;
}






/* 스타일초기화 S */
body {
    margin: 0 auto;
    max-width: 720px;
    min-width: 360px;
    background-color: #fff;
}

ul,
ol,
dl,
dt,
dd {
    margin: 0;
    padding: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    background-color: transparent;
    text-decoration: none;
}

img {
    border: 0;
}

/* 스타일초기화 E */

/* 공통 스타일 S */

.montserrat, .montserrat * {
    font-family: "Montserrat", sans-serif; 
}
/*.IBM+Plex+Sans+KR {
    font-family: "IBM Plex Sans KR", sans-serif;
}
*/
h3 {
    font-size: 1.538rem;
    color: 212121;
    text-align: center;
    font-size: 20px;
    color: #212121;
    padding: 20px;
    line-height: 1;
    display: block;
    font-size: 1.17em;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;

}

/* 공통 스타일 E */

/* 해더 영역 S */
header .site-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 66px;
    border-bottom: 1px solid #e6e6e6;
    padding: 0 15px;
}

header .logo img {
    display: block;
    height: 34px;


}

header .site-top i {
    font-size: 2rem;
}

header .site-top.left i {
    margin-right: 10px;
}

header .site-top.right i {
    margin-right: 10px;
}

header .page_location {
    border-bottom: 1px solid #e7e7e7;
    height: 50px;
    position: relative;
    text-align: center;
    line-height: 49px;
    font-size: 20px;
    font-weight: 700;
}





/* 해더 영역 E */

/* 메인 배너 영역 S */

dl, dt, dd, ol, ul, li, span, h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

.join_method {
    padding: 10px 10px 10px 10px;
}

header .page_location .back {
 
    height: 30px;
    background-size: 13px;
    left: 0;
    top: 9px;
    cursor: pointer;
  
}

.join_method .sns_login li {
    display: block;
    margin: 7px 0 7px 0;
}

.join_method .sns_login li img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.join_method .sns_login li#btnJoin a {
    color: #fff;
}

.join_method .sns_login li {
    display: block;
    margin: 7px 0 7px 0;
}

.join_method .sns_login li#btnJoin {
    padding: 13px 0 13px 0;
    font-size: 13px;
    background: #3e3d3c;
    border: 1px solid #3e3d3c;
    text-align: center;
}

/* 메인 배너 영역 E */








/*  하단 배너 영역 S */

.bottom-banner {
    width: 100%;
    display: block;
    margin: 10px 0 20px;
}


/*  상품 목록 영역 E */

/*  푸터 영역 S */

footer {
    background: #f9f9f9;
    padding: 25px 0 80px;
    margin-top: 25px;
}

footer .logo img {
    width: 79px;
    margin: 0 auto 12px;
    display: block;
}

footer .center-phone {
    border: 3px solid #2a2a2a;
    border-radius: 20px;
    text-align: center;
    display: block;
    height: 35px;
    line-height: 31px;
    font-size: 1.53rem;
    color: #2a2a2a;
    font-weight: 800;
    width: 190px;
    margin: 0 auto 7px;
    display: block;
}

footer .center-phone img {
    height: 16px;
    vertical-align: middle;
    position: relative;
    top: -1px;
}

footer .bank-info {
    font-size: 0.923rem;
    color: #2a2a2a;
    text-align: center;
}

footer .bank-info span {
    font-size: 1rem;
    font-weight: 600;
}

footer .company-info {
    text-align: center;
    margin: 3px 0 8px;
    font-size: 0.923rem;
    font-weight: 600;
    color: #878787;
}

footer .company-info img {
    width: 15px;
}


footer .links {
    text-align: center;
}

footer .links a {
    font-size: 0.846rem;
    padding: 0 11px;
    color: #878787;
    position: relative;
}

footer .links a:not(.last)::after {
    content: '';
    display: block;
    width: 1px;
    height: 8px;
    background: #878787;
    position: absolute;
    right: 0;
    top: 4px;
}



/*  푸터 영역 E */

/*  하단 고정 영역 S */

#bottom_quick_menu {
    position: fixed;
    bottom: 0;
    z-index: 10;
    left: 0;
    background-color: #ffffff;
    display: flex;
    border-top: 1px solid #dfe1e5;
    width: 100%;
    height: 60px;
    padding: 9px 15px;
    justify-content: space-around;
    padding: 9px 15px;
}

#bottom_quick_menu .open_side_menu {
    height: 30px;
    width: 26px;
    background: url(../images/more_menu.png) no-repeat center center;
    background-size: 26px;
    border: 0;
    margin-top: 6px;
}

#bottom_quick_menu a {
    width: calc(100% / 5);
}

#bottom_quick_menu .icon {
    height: 30px;
    cursor: pointer;
}

#bottom_quick_menu a .txt {
    text-align: center;
    font-size: 8px;
    color: #2d2f38;
}

#bottom_quick_menu .icon1 {
    background: url(../images/pen.png) no-repeat center top;
    background-size: 29px;
}



#bottom_quick_menu .icon2 {
    background: url(../images/comment.png) no-repeat center top;
    background-size: 42px;
}

#bottom_quick_menu .icon3 {
    background: url(../images/truck.png) no-repeat center top;
    background-size: 42px;
}

#bottom_quick_menu .icon4 {
    background: url(../images/person.png) no-repeat center top;
    background-size: 22px;
}


.bottom_quick_menu button {
    width: 26px;
    height: 30px;

}

.bottom_quick_menu .links {
    display: flex;

}

.bottom_quick_menu .links a {
    flex-grow: 1;

}


.bottom_quick_links {
    display: block;
    width: 50px;
    cursor: pointer;
    margin-top: 10px;
    position: fixed;
    bottom: 70px;
    right: 10px;
    z-index: 1px solid #dfe1e5;
    z-index: 1;
}

.bottom_quick_links img {
    display: block;
    width: 60px;
    margin-top: 10px;
    cursor: pointer;
}

/*  하단 고정 영역 E */